[submodule "alacritty_catppuccin"]
	path = submodules/alacritty_catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
